<% include header.ejs %>

<!--Main layout-->
<main>
  <div class="row" style="margin-left: 10px;">
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid black; cursor: pointer;">
        <div class="card-body">
          <div class="card-title">
            Orders
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-right"></span>
            <%= orders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid blue; cursor: pointer;" onclick="showA()">
        <div class="card-body">
          <div class="card-title">
            Orders Active
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-up"></span>
            <%= activeOrders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid red; cursor: pointer;" onclick="showC()">
        <div class="card-body">
          <div class="card-title">
            Orders Canceled
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-down"></span>
            <%= cancelOrders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid yellow; cursor: pointer;">
        <div class="card-body">
          <div class="card-title">
            Orders Returns
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-left"></span>
            <%= returnsOrders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid green; cursor: pointer;" onclick="showD()">
        <div class="card-body">
          <div class="card-title">
            Orders Delivered
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-up"></span>
            <%= deliveredOrders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid blue; cursor: pointer;" onclick="showA()">
        <div class="card-body">
          <div class="card-title">
            Orders Un Delivered
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-up"></span>
            <%= unDeliveredOrders.length %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-lg-3  col-md-4 col-sm-6 mb-2">
      <div class="card" style="border-left: 5px solid red; cursor: pointer;">
        <div class="card-body">
          <div class="card-title">
            Sales
          </div>
          <div class="card-text">
            <span class="fa fa-angle-double-right"></span> 6
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ordersTables.ejs %>
  <% include modals.ejs %>
  </div>
</main>

<% include footer.ejs %>

<script>
  // SideNav Initialization
  $(".button-collapse").sideNav();
  new WOW().init();

  $(document).ready(function () {
    $('.tableData').DataTable({
      responsive: true,
      "order": [
        [0, "desc"]
      ]
    });
    $('select').material_select();
  });

  function myRow(divName) {
    if (document.getElementById(divName).style.display == "none") {
      document.getElementById(divName).style.display = "block";
    } else {
      document.getElementById(divName).style.display = "none";
    }
  }

  function sendMai(id) {
    mail = $('#mail' + id).val();
    var order = {
      order_id: id,
      email: mail
    };
    $.ajax({
      url: 'mailOrder/',
      type: 'POST',
      data: order,
      success: (data) => {
        console.log('Sucess', data);

        Snackbar.show({
          text: data,
          pos: 'top-left'
        });
      }
    })
  }

  function changeStatus(id) {
    console.log(id);
    status = $('#s' + id).val();
    var order = {
      order_id: id,
      status: status
    };
    $.ajax({
      url: 'changeStatus/',
      type: 'POST',
      data: order,
      success: (data) => {
        console.log('Sucess', data);
        Snackbar.show({
          text: "Status Changed",
          pos: 'top-left'
        });
        location.reload();
      }
    })
  }

  function showA() {
    document.getElementById('deli').style.display = "none";
    document.getElementById('active').style.display = "block";
    document.getElementById('cancel').style.display = "none";
  }

  function showC() {
    document.getElementById('deli').style.display = "none";
    document.getElementById('active').style.display = "none";
    document.getElementById('cancel').style.display = "block";
  }

  function showD() {
    document.getElementById('deli').style.display = "block";
    document.getElementById('active').style.display = "none";
    document.getElementById('cancel').style.display = "none";
  }

  function download(divName) {
    date = new Date();
    var printContents = document.getElementById(divName).innerHTML;
    var pdf = new jsPDF();
    pdf.text(5, 5, document.getElementById(divName).innerText);
    pdf.save('Order - ' + date.toLocaleDateString() + ' ' + date.toLocaleTimeString() + '.pdf');
  }

  function changeState(data1, state) {
    var order = {
      order_id: data1,
      state: state
    };
    $.ajax({
      url: 'changeSate/',
      type: 'POST',
      data: order,
      success: (data) => {
        console.log('Sucess', data);
        Snackbar.show({
          text: "Chnage State Successful",
          pos: 'top-left'
        });
      }
    })
  }

  function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>

</body>

</html>