<% include header.ejs %>

<main>
    <div class="container">
        <table class="tableData" class="table table-striped table-bordered">
            <thead>
                <th>Item_code</th>
                <th>Item_name</th>
                <th>Qauntity</th>
                <th>Mrp</th>
                <th>manfc_name</th>
                <th>manfc_code</th>
            </thead>
            <tbody>
                <% medicines.forEach( (medicine) => { %>
                    <tr>
                        <td><%= medicine.item_code %></td>
                        <td><%= medicine.Item_name %></td>
                        <td><%= medicine.qty %></td>
                        <td><%= medicine.mrp %></td>
                        <td><%= medicine.manfc_name %></td>
                        <td><%= medicine.manfc_code %></td>
                        </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>

<% include footer.ejs %>

<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
    new WOW().init();
    
    $(document).ready(function () {
        $('.tableData').DataTable({
            "responsive": true,
            "order": [[ 0, "desc" ]]
        });
    });

</script>